__pycache__/
.ipynb_checkpoints/
.idea/
env/
venv/
ENV/
VENV/
01-16-PYTHON-13/data/*.csv
01-20-PROJECT-1/data/dst-3.0_16_1_hh_database.csv
02-28-PROJECT-2/creds.py
03-31-EDA-1/data/wine.csv
03-32-EDA-2/data/wine_cleared.csv
03-33-EDA-3/data/wine_cleared.csv
03-35-EDA-5/data/*.csv
03-35-EDA-5/E5_Task/*.csv
03-36-EDA-6/data/*.csv
03-36-EDA-6/E6_Task/creds.py
