__pycache__/
.ipynb_checkpoints/
.idea/
.env/
.venv/
env/
venv/
ENV/
VENV/
01-16-PYTHON-13/data/country_vaccinations.csv
01-16-PYTHON-13/data/covid_data.csv
01-16-PYTHON-13/data/covid_df.csv
01-20-PROJECT-1/data/dst-3.0_16_1_hh_database.csv
02-28-PROJECT-2/creds.py
